---
import { nosotros }  from '@data'
const { titulo, descripcion} = nosotros[0]
---

<div class="bg-slate-200 w-full">
	<div class="py-40 ml-10 w-1/2">
		<span class="text-xl">
			{titulo}
		</span>
		<p class="text-2xl font-semibold">
			{descripcion}
		</p>
	</div>
</div>